<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    {{partial "billingStatementStyles"}}
    <title>Change Order Confirmation</title>
</head>
<body>

{{let "cssContainer" "width: 800px;margin-left:auto;margin-right:auto;"}}
{{let "cssFooter" "border-top: 1px solid #D9D9D9;padding-top: 23px;"}}
{{let "cssBanners" "padding-left: 20px;padding-bottom: 23px;"}}
{{let "cssCharges"  "padding-bottom: 23px;"}}
{{let "cssTitle" "margin: 23px 0; padding:0; color: #333333;font-weight:normal;font-size: 27.0pt;font-family: Verdana, sans-serif;"}}
{{let "cssH2" "font-size: 18.0pt;margin: 23px 0;color: #333333;font-weight: normal;"}}

{{#if billingCodes}}
    {{let "hasBillingCodes" true}}
{{else}}
    {{let "hasBillingCodes" false}}
{{/if}}
{{let "isStatement" false}}
<table border="0" cellspacing="0" cellpadding="0" style="{{@cssContainer}}">
    <tbody>

    <!-- Empty space -->
    <tr>
        <td colspan="2" class="emptySpace">&nbsp;</td>
    </tr>

    <!-- Header -->
    <tr>
        <td colspan="2">
            <img width="151" height="22" src="http://netstorage.ringcentral.com/email/logo2.png" alt="Logo"/>
        </td>
    </tr>

    <!-- Report Title -->
    <tr>
        <td colspan="2"><h1 style="{{@cssTitle}}">Change Order Confirmation</h1></td>
    </tr>

    <!-- Border line -->
    <tr>
        <td colspan="2" class="borderLine"></td>
    </tr>

    <!-- Account information -->
    <tr>
        <td colspan="2"><h2 style="{{@cssH2}}">Account Information</h2></td>
    </tr>

    <!-- Left and Right sides of Report -->
    <tr>

        <!-- Left side of the report -->
        <td valign="top" style="{{@cssCharges}}">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                <!-- Account Information and Bill to -->
                <tr>
                    <!-- Account Information -->
                    <td style="width:60%">
                        {{partial "billingStatementAccountInfo"}}
                    </td>
                    <!-- Middle line -->
                    <td style="border-left: 1pt solid #D9D9D9; width:5%;"></td>
                    <!-- Bill address -->
                    <td style="width:35%">
                        {{partial "billingStatementTo"}}
                    </td>
                    <!-- Empty -->
                    <td style="width:5%"></td>
                </tr>

                <!-- Empty space -->
                <tr>
                    <td colspan="4" class="emptySpace">&nbsp;</td>
                </tr>

                <!-- Border line-->
                <tr>
                    <td colspan="4" class="borderLine"></td>
                </tr>

                <!-- Announcements -->
                <tr>
                    <td colspan="4">
                        {{partial "billingStatementAnnouncements"}}
                    </td>
                </tr>

                <!-- -->
                <!-- Report Body -->
                <!-- -->

                <!-- Empty space -->
                <tr>
                    <td colspan="4" class="emptySpace">&nbsp;</td>
                </tr>

                <!-- Border line-->
                <tr>
                    <td colspan="4" class="borderLine"></td>
                </tr>

                <!-- Statement Details -->
                <tr>
                    <td colspan="4">
                        {{#if @hasBillingCodes}}
                            {{partial "billingStatementDetailsWithBillingCodes"}}
                        {{else}}
                            {{partial "billingStatementDetails"}}
                        {{/if}}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>

        <!-- Right side of the report -->
        <td valign="top" style="{{@cssBanners}}">
            {{partial "billingStatementBanners"}}
        </td>

    </tr>

    <!-- Footer -->
    <tr>
        <td colspan="2" style="{{@cssFooter}}">
            {{partial "billingStatementFooter"}}
        </td>
    </tr>

    </tbody>

</table>

</body>

</html>
