<p>
    Thank you for using {{{$Brand_DisplayName}}}. We hope you've been enjoying your trial and
    that {{{$Brand_DisplayName}}} has become an indispensible part of your business day.
</p>
<p>
    There are only {{{number}}} minutes of calling time remaining in your trial. To avoid service interruption and keep
    your {{{$Brand_DisplayName}}} number {{{$Account_MainNumber}}} active, please convert to our paid service before
    your trial minutes run out.
</p>
<p>
    <a style="font-weight: bold;" href="{{{reactivateAccountLink}}}">Activate your paid service</a>
</p>