<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%; font-size: 9.0pt; font-family: Arial, sans-serif;">
    <tbody>
        <!-- Part Header -->
        <tr>
            <td colspan="3"><p style="font-size: 18.0pt; color: #333333;">Additional Services</p></td>
        </tr>

        <!-- Empty space -->
        <tr>
            <td colspan="3" class="emptySpace">&nbsp;</td>
        </tr>

        <!-- Table Header -->
        <tr>
            <td style="padding-top:6pt;padding-bottom:1.5pt;width:31%;"><p><span style="font-size: 10.5pt; color: #333333;">Period</span></p></td>
            <td style="padding-top:6pt;padding-bottom:1.5pt;width:56%;"><p><span style="font-size: 10.5pt; color: #333333;">Service</span></p></td>
            <td style="padding-top:6pt;padding-bottom:1.5pt;width:13%" align="right"><p><span style="font-size: 10.5pt; color: #333333;">Amount</span></p></td>
        </tr>

        <!-- Border line-->
        <tr>
            <td colspan="3" class="borderLine"></td>
        </tr>

        {{#if chargeItems}}
            <!-- \Order Charge Items -->
            <!-- -->
            {{#each chargeItems}}
                <tr>
                    {{let "thisItemAmount" this.itemAmount}}
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;">
                        <p>
                        <span style="color: #666666;">
                            {{#if this.itemStartDate}} {{this.itemStartDate}} - {{this.itemEndDate}} {{else}} &nbsp; {{/if}}
                        </span>
                        </p>
                    </td>

                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;">
                        <p>
                        <span style="color: #666666;">
                            {{#if this.itemHasPhone}}
                                {{this.itemPrefix}}- {{this.itemPhone}}{{this.itemSuffix}}<!--UCM backend keep white space symbol in prefix and suffix-->
                            {{else}}
                                {{#if this.itemStartDate}}<!-- not discount line -->
                                    {{this.itemName}}
                                {{else}}
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.itemName}}</span>
                                {{/if}}
                            {{/if}}
                        </span>
                        </p>
                    </td>

                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@thisItemAmount}}</span></p></td>
                </tr>
            {{/each}}

            <!-- Smaller empty space -->
            <tr>
                <td colspan="3" class="emptySpace">&nbsp;</td>
            </tr>

            <!-- Border line-->
            <tr>
                <td colspan="3" class="borderLine"></td>
            </tr>

            {{#if chargesInfo.total}}
                {{let "chargesInfoTotal" chargesInfo.total}}
                <tr>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                    <td align="right" style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Charges:</span></p></td>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@chargesInfoTotal}}</span></p></td>
                </tr>
            {{/if}}
            <!-- -->
            <!-- /Order Charge Items -->
        {{/if}}

        {{#if adjustmentItems}}
            <!-- \order Adjustments -->
            <!-- -->
            <tr>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;width:31%;"><p><span style="font-size: 10.5pt; color: #333333;">&nbsp;</span></p></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;width:56%;"><p><span style="font-size: 10.5pt; color: #333333;">Adjustments</span></p></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;width:13%;" align="right"><p><span style="font-size: 10.5pt; color: #333333;">&nbsp;</span></p></td>
            </tr>

            <!-- Border line-->
            <tr>
                <td colspan="3" class="borderLine"></td>
            </tr>

            <!-- -->
            {{#each adjustmentItems}}
                {{let "thisItemAmount" this.itemAmount}}
                <tr>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">{{this.itemStartDate}} - {{itemEndDate}}</span></p></td>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;">
                        <p>
                        <span style="color: #666666;">
                            {{#if this.itemHasPhone}}
                                {{this.itemPrefix}}- {{this.itemPhone}}{{this.itemSuffix}}<!--UCM backend keep white space symbol in prefix and suffix-->
                            {{else}}
                                {{#if this.itemStartDate}}<!-- not discount line -->
                                    {{this.itemName}}
                                {{else}}
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.itemName}}</span>
                                {{/if}}
                            {{/if}}
                        </span>
                        </p>
                    </td>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@thisItemAmount}}</span></p></td>
                </tr>
            {{/each}}

            <!-- Smaller empty space -->
            <tr>
                <td colspan="3" class="emptySpace">&nbsp;</td>
            </tr>

            <!-- Border line-->
            <tr>
                <td colspan="3" class="borderLine"></td>
            </tr>

            {{#unlesseq adjustmentsInfo.total "$0.00"}}<!-- !=0 -->
                <tr>
                    {{let "adjustmentsInfoTotal" adjustmentsInfo.total}}
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                    <td align="right" style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Adjustments:</span></p></td>
                    <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@adjustmentsInfoTotal}}</span></p></td>
                </tr>
            {{/unlesseq}}
            <!-- -->
            <!-- /order Adjustments -->
        {{/if}}

        <!-- Totals -->
        {{#unlesseq feesInfo.total "$0.00"}}<!-- !=0 -->
            <tr>
                {{let "feesInfoTotal" feesInfo.total}}
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><span style="color: #666666;">Current Service Fees:</span></td> <!-- -x-(-x) == 0 => negative -->
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><span style="color: #666666;">{{@feesInfoTotal}}</span></td>
            </tr>
        {{/unlesseq}}

        {{#unlesseq adjustmentsInfo.total "$0.00"}}<!-- !=0 -->
            <tr>
                {{let "adjustmentsInfoTotal" adjustmentsInfo.total}}
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><span style="color: #666666;">Current Adjustments:</span></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><span style="color: #666666;">{{@adjustmentsInfoTotal}}</span></td>
            </tr>
        {{/unlesseq}}

        {{#unlesseq taxesInfo.total "$0.00"}}<!-- !=0 -->
            <tr>
                {{let "taxesInfoTotal" taxesInfo.total}}
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Current Taxes, Charges and Fees*:</span></p></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@taxesInfoTotal}}</span></p></td>
            </tr>
        {{/unlesseq}}

        {{#unlesseq creditsInfo.applied "$0.00"}}<!-- !=0 -->
            <tr>
                {{let "creditsInfoApplied" creditsInfo.applied}}
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Applied Account Credit:</span></p></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@creditsInfoApplied}}</span></p></td>
            </tr>
        {{/unlesseq}}

        <tr>
            {{#if (lt summaryInfo.totalAsNum 0)}} {{let "summaryInfoTotal" "$0.00"}} {{else}} {{let "summaryInfoTotal" summaryInfo.total}} {{/if}}
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><strong><span style="color: #666666;">Total Current Charges:</span></strong></td>
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><strong><span style="color: #666666;">{{@summaryInfoTotal}}</span></strong></td><!-- @summaryInfoTotal -->
        </tr>

        {{#unlesseq creditsInfo.remaining "$0.00"}}<!-- !=0 -->
            <tr>
                {{let "creditsInfoRemaining" creditsInfo.remaining}}
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Remaining Credit:</span></p></td>
                <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@creditsInfoRemaining}}</span></p></td>
            </tr>
        {{/unlesseq}}

        {{#if (gt creditsInfo.issuedAsNum 0)}}<!-- > 0 -->
        <tr>
            {{let "creditsInfoIssued" creditsInfo.issued}}
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;"></td>
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;"><p><span style="color: #666666;">Account Credit Issued:</span></p></td>
            <td style="padding-top: 6pt; padding-bottom: 1.5pt;" align="right"><p><span style="color: #666666;">{{@creditsInfoIssued}}</span></p></td>
        </tr>
        {{/if}}

    </tbody>
</table>