<p>
    Thank you for using {{{$Brand_DisplayName}}}. We hope you've been enjoying your trial and
    that {{{$Brand_DisplayName}}} has become a trusted partner for all your telecommunications needs.
</p>
<p>
    To avoid service interruption and keep your {{{$Brand_DisplayName}}} number {{{$Account_MainNumber}}} active,
    please convert to our paid service before your trial ends.
</p>
<p>
    <a style="font-weight: bold;" href="{{{reactivateAccountLink}}}">Activate your paid service</a>
</p>