{{#if (eq rejectionCause 'EVIDENCE')}}Rejected Signup Attempt{{/if}}
{{#if (eq rejectionCause 'MOBILE')}}Rejected Signup Attempt: Too many accounts per mobile device{{/if}}
{{#if (eq rejectionCause 'VELOCITY')}}Rejected Signup Attempt: Too many accounts per deviceid{{/if}}