<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Users have been updated</title>
    <style type="text/css">
        body {
            font-family: arial, sans-serif;
            font-size: 10pt;
        }

        table {
            font-family: arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>

<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>

            {{partial "headerOnlyLogo"}}

            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>
            <table border="0" width="600">
                <tbody>
                <tr>
                    <td valign="top">
                        <p>
                            Dear {{{$Extension_FullName}}},
                        </p>
                        <p>
                            Congratulations! The user details you uploaded in the template have been successfully
                            updated.
                        </p>
                        <ul style="font-family: Arial, Helvetica, sans-serif; font-size: 15px">
                            <li>{{{numSuccessUsers}}} users were updated successfully</li>
                            <li>{{{numFailedUsers}}} users could not be updated</li>
                        </ul>
                        <p>
                            Please contact a {{{$Brand_DisplayName}}} Support representative to further assist you if
                            needed at {{{$Brand_LocalSupportPhoneNumber}}}.
                        </p>
                        <br/>
                        Thank you for using {{{$Brand_DisplayName}}}!
                    </td>
                </tr>
                </tbody>
            </table>
            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>

            {{partial "footerTextAndRcLogo"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>