<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        body, table {font-family: arial, sans-serif; font-size: 10pt;}
    </style>
    <title></title>
</head>

<body>
<table style="margin: 0 auto; width: 600px; padding: 0" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>

            {{partial "headerLogoAndText"  headerTitle = "Calling Creadit"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <p>
                Dear {{{$Extension_FullName}}},
            </p>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>Account Number:</td>
                    <td>&nbsp;</td>
                    <td>{{{$Account_MainNumber}}}</td>
                </tr>
                <tr>
                    <td>Service Plan:</td>
                    <td>&nbsp;</td>
                    <td>{{{$Brand_DisplayName}}} {{{$Tier_Name}}}</td>
                </tr>
            </table>

            {{#if (eq noticeType 'LOW_BALANCE')}}
                {{partial "callingCreditNoticeLowBalance"}}
            {{/if}}
            {{#if (eq noticeType 'ZERO_BALANCE')}}
                {{partial "callingCreditNoticeZeroBalance"}}
            {{/if}}
            {{#if (eq noticeType 'FAILED_AUTO_PURCHASE')}}
                {{partial "callingCreditNoticeFailedAutoPurchase"}}
            {{/if}}

            {{#ifin noticeType '["LOW_BALANCE", "ZERO_BALANCE"]'}}
                <p>
                    <a href="{{{buyMinutesLink}}}">Add Calling Credit to My Account</a>
                </p>

                <p>
                    Are you too busy to get it all done? We can help! Auto-Purchase ensures that you won't run out of Calling Credit and invite an unwelcome pause to a busy workday:
                </p>

                <p>
                    <a href="{{{setAutoPurchaseLink}}}">Set up Auto-Purchase today</a>
                </p>
            {{/ifin}}

            <p>Thank you for using {{{$Brand_DisplayName}}}!</p>

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
