<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="680" style="background-color:#ffffff;">
                <tr>
                    <td style="border-left:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8; width: 40px">&nbsp;</td>
                    <td style="border-bottom:1px solid #e8e8e8; width: 600px" valign="top">
                        {{partial "headerLogoAndText"  headerTitle="Welcome"}}
                        <table>
                            <tr>
                                <td valign="top">
                                    <hr style="background-color: #f39327; color: #f39327; border: 1px solid #e2e2e2 !important"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:37px;color:#666666;font-family:Arial;font-size:12px;">Dear
                                    {{{$Extension_FullName}}},
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 25px; color:#666666; font-family: Arial;font-size: 12px;">
                                    <strong>{{{adminFirstName}}} {{{adminLastName}}}</strong> has added you as a user to
                                    the {{{$Brand_DisplayName}}} business phone system.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:14px;" valign="top">
                                    <table border="0" cellpadding="0"
                                           cellspacing="0" width="100%">
                                        <tr>
                                            <td
                                                    style="color:#f8981d;padding-left:10px;padding-right:10px; width: 4%"
                                                    valign="middle">•
                                            </td>
                                            <td
                                                    style="color:#666666;font-family:Arial;font-size:12px; width: 96%">
                                                Your company number is:
                                                {{{$Account_MainNumber}}}</td>
                                        </tr>
                                        <tr>
                                            <td
                                                    style="color:#f8981d;padding-left:10px;padding-right:10px;"
                                                    valign="middle">•
                                            </td>
                                            <td
                                                    style="color:#666666;font-family:Arial;font-size:12px;">Your
                                                extension number is: {{{$Extension_Number}}}</td>
                                        </tr>
                                            <!--{{#if directNumber}}-->
                                        <tr>
                                            <td
                                                    style="color:#f8981d;padding-left:10px;padding-right:10px;"
                                                    valign="middle">•
                                            </td>
                                            <td
                                                    style="color:#666666;font-family:Arial;font-size:12px;">
                                                Your
                                                direct line is: {{{directNumber}}}</td>
                                        </tr>
                                            <!--{{/if}}-->

                                            <!--{{#if emailLogin}}-->
                                        <tr>
                                            <td
                                                    style="color:#f8981d;padding-left:10px;padding-right:10px;"
                                                    valign="middle">•
                                            </td>
                                            <td
                                                    style="color:#666666;font-family:Arial;font-size:12px;">
                                                Your email address for login is: {{{emailLogin}}}</td>
                                        </tr>
                                            <!--{{/if}}-->

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#8e8e8e;font-family: Arial;font-size:12px;line-height:20px;padding-top:24px;">
                                    {{#if skippingExpressSetup}}
                                        You can login to start configuring your account.
                                    {{else}}
                                        You can set up your account online in just a matter of minutes.
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#f8981d; font-family:Arial; font-size:12px; padding-top:24px; text-align: center">
                                    <div style="display: inline-block; vertical-align: middle">
                                        <!--[if mso]>
                                        <v:shape>
                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                                         xmlns:w="urn:schemas-microsoft-com:office:word"
                                                         href="{{{mailboxActivationUrl}}}"
                                                         style="height:42px;v-text-anchor:middle;width:240px;"
                                                         arcsize="10%" stroke="f" fillcolor="#f8981d">
                                                <w:anchorlock/>

                                                <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold; text-align: center">
                                                    {{#if skippingExpressSetup}}
                                                        Log In
                                                    {{else}}
                                                        Set Up Account
                                                    {{/if}}
                                                </center>
                                            </v:roundrect>
                                        </v:shape>
                                        <![endif]-->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               style="mso-hide:all;">
                                            <tr>
                                                <td style="-webkit-border-radius: 5px; width: 240px; height: 42px; background-color:#f8981d;  -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; text-align: center">
                                                    <a href="{{{mailboxActivationUrl}}}"
                                                       style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:42px; width:100%; display:inline-block">
                                        <span style="color: #ffffff;">
                                            {{#if skippingExpressSetup}}
                                                Log In
                                            {{else}}
                                                Set Up Account
                                            {{/if}}
                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#8e8e8e;font-family: Arial;font-size:12px;line-height:20px;padding-top:24px;">
                                    Or copy-and-paste this link into your browser:<br/>
                                    <a style="color:#f8981d"
                                       href="{{{mailboxActivationUrl}}}"><strong>{{{mailboxActivationUrl}}}</strong></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:25px;color:#666666;font-family: Arial; font-size:12px;">

                                    {{#if isSSO}}
                                        <span>
                                <strong>Logging in to {{{$Brand_DisplayName}}}.</strong>
                                <br/>
                                <br/>
                                <span style="color:#666666;font-family:Arial;font-size:12px;padding-top:22px;">
                                From the {{{$Brand_DisplayName}}} login page, skip everything and click the <strong>Single Sign-on</strong> link. Then log in with your standard company credentials.
                                </span>
                                <br/>
                                <br/>
                                </span>
                                    {{else}}
                                        <span>
         Please log in with your {{#if emailLogin}}email {{{emailLogin}}} or {{/if}}phone number.
         </span>
                                        <br/>
                                        <br/>
                                    {{/if}}

                                    <span style="color:#666666;font-family:Arial;font-size:12px;padding-top:38px;">Thank you for using {{{$Brand_DisplayName}}}.</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:40px;" valign="top">
                                    <hr style="background-color: #f39327; color: #f39327; border: 1px solid #e2e2e2 !important"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#666666; width:680px; padding-bottom: 25px; padding-top: 15px; font-family:Arial;font-size:12px;">
                                    Got Questions? The <a style="color:#f8981d" href="{{{$Brand_SupportUrl}}}">RingCentral
                                    Support Center</a> offers startup guides, tutorial articles and videos and
                                    comprehensive search.
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8; width: 40px">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>