<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Signup Rejection</title>
</head>
<body>
<p>
    {{#if instanceId}}InstanceID: {{{instanceId}}}<br/>{{/if}}
    {{#if serialNumber}}Serial Number: {{{serialNumber}}}<br/>{{/if}}
    UserID: {{{userId}}}<br/>
    Account Number: {{{accountNumber}}}<br/>
    Date: {{{dateTime}}}<br/>
</p>
</body>
</html>