<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {{partial "titleCommonMetas"}}
  <style type="text/css">
    p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
    td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
    span { font-family: Arial, Helvetica, sans-serif; }
  </style>
  <title>Daily fraud limit reached</title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
  <tbody>
  <tr>

    <td>

        {{partial "headerOnlyLogo"}}

        <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />
      <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td>
            <table  border="0" width="600">
              <tbody>
              <tr>
                <td valign="top">
                  <p>
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px">
                        <br />
                      Your phone number is {{{$Account_MainNumber}}}.
                      <br />
                      <br />
                      Hello {{{$Extension_FullName}}},
                      <br />
                      <br />
                     You’ve reached the limit on chargeable calls made in any 24 hour period for your {{{$Brand_DisplayName}}} account. You won’t be able to make chargeable calls until the next 24 hour period starts or you call us to increase the limit. This only applies to calls such as international and premium rate calls and UK calls not included in your call package. It doesn’t affect your incoming calls, or calls made from your monthly inclusive UK call minutes.
                    </span></p>
                  <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px">

                      </span>
                    <p><b>Want to increase your limit?</b></p>
                    <p>All {{{$Brand_DisplayName}}} accounts have limits on chargeable calls to help protect them from unauthorised usage and highlight unusual call spend. Of course, we don’t want to stop you making authorised calls, so we can set the limits to suit your business. To increase the 24 hour limit that's been set for your account, or for any more information, give us a ring on <b>{{{$Brand_LocalSupportPhoneNumber}}}</b> and select the option for billing. We’re open 8am to 6pm Monday to Friday (not public holidays). </p>
                    <br />
                    <br />
                    Thanks for choosing {{{$Brand_DisplayName}}}.
                    <br />
                    <br />
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <br />


        <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />

        {{partial "footerTextAndRcLogo"}}


    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
