<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="680" style="background-color:#ffffff;">
                <tr>
                    <td style="width: 600px" valign="top">
                        {{partial "headerOnlyLogo"}}

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td valign="top" style="border-top: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;padding: 10px 0;">
                                    <table>
                                        <tr>
                                            <td>
                                                <p>Hello {{{$Extension_FullName}}},</p>
                                                <p>{{{adminFirstName}}} {{{adminLastName}}} has added you to the {{{$Brand_DisplayName}}} system.</p>
                                                <p>Your company number is <strong>{{{$Account_MainNumber}}}</strong>.<br />
                                                  Your extension number is <strong>{{{$Extension_Number}}}</strong>.<br />
                                                  <!--{{#if emailLogin}}-->
                                                  Your email address for login is: <strong>{{{emailLogin}}}</strong>.
                                                  <!--{{/if}}-->
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                          <td style="margin: 0 auto; background-color: #FFFFFF; line-height:20px; padding-top:24px;">
                                            {{#if skippingExpressSetup}}
                                                You can login to start configuring your account.
                                            {{else}}
                                                You can set up your account online in just a matter of minutes, then log in with your <!--{{#if emailLogin}}--> email address {{{emailLogin}}} or <!--{{/if}}--> phone number.
                                            {{/if}}
                                          </td>
                                        </tr>
                                        <tr>
                                            <td style="color:#00528c; padding-top:24px; text-align: center">
                                                <div style="display: inline-block; vertical-align: middle">
                                                    <!--[if mso]>
                                                    <v:shape> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{{mailboxActivationUrl}}}" style="height:42px;v-text-anchor:middle;width:240px;" arcsize="10%" stroke="f" fillcolor="#00528c">
                                                        <w:anchorlock/>
                                                        <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold; text-align: center">
                                                            {{#if skippingExpressSetup}}
                                                                Log In
                                                            {{else}}
                                                                Set Up Account
                                                            {{/if}}
                                                        </center>
                                                    </v:roundrect></v:shape>
                                                    <![endif]-->
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="mso-hide:all;">
                                                        <tr>
                                                            <td style="-webkit-border-radius: 5px; width: 240px; height: 42px; background-color:#00528c;  -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; text-align: center">
                                                                <a href="{{{mailboxActivationUrl}}}" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:42px; width:100%; display:inline-block">
                                                            <span style="color: #ffffff;">
                                                                {{#if skippingExpressSetup}}
                                                                    Log In
                                                                {{else}}
                                                                    Set Up Account
                                                                {{/if}}
                                                            </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color:#8e8e8e;line-height:20px;padding-top:24px;">
                                                Or copy and paste this link into your browser:<br />
                                                <a style="color:#00528c" href="{{{mailboxActivationUrl}}}" >
                                                    <strong>{{{mailboxActivationUrl}}}</strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top:25px;">
                                                {{#if isSSO}}
                                                <span>
                                                    <strong>Logging in to {{{$Brand_DisplayName}}}.</strong>
                                                    <br/>
                                                    <br/>
                                                    <span style="font-size:13px;padding-top:22px;">
                                                        From the {{{$Brand_DisplayName}}} login page, skip everything and click the <strong>Single Sign-on</strong> link. Then, log in with your standard company credentials.
                                                    </span>
                                                    <br/>
                                                    <br/>
                                                </span>
                                                {{else}}
                                                <span>
                                                    Please log in with your {{#if emailLogin}}email {{{emailLogin}}} or {{/if}}phone number.
                                                </span>
                                                <br/>
                                                <br/>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <p>Thanks for using {{{$Brand_DisplayName}}}.</p>
                                          </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>