{{let "cssAnnouncementsP" "margin: 5px 0 8px; font-size: 9pt;"}}
{{let "cssAnnouncementsA" "color: #333333;"}}
{{let "cssAnnouncementsH2" "font-size: 18.0pt;margin: 23px 0;color: #333333;font-weight: normal;"}}

<h2 style="{{@cssAnnouncementsH2}}">Announcements</h2>

<p style="{{@cssAnnouncementsP}}">
    The <a href="http://success.ringcentral.com" title="RingCentral Customer Care Center"
           style="{{@cssAnnouncementsA}}">RingCentral Customer Care Center</a> has everything you need to answer your
    questions and configure your
    service. You can also <a href="http://success.ringcentral.com/RCContactSupp" title="Open a Case"
                             style="{{@cssAnnouncementsA}}">Open a Case</a> online. You're always in the know with
    online and email
    status updates.
</p>

<p style="{{@cssAnnouncementsP}}">
    RingCentral now offers team messaging and productivity software called Glip! It delivers
    everything you need to communicate and collaborate with your colleagues, clients, and
    business partners - all in one place and it's free with your service. Get started by <a
        href="http://glip.com/r/register?email=" style="{{@cssAnnouncementsA}}">signing in</a> now.
</p>