<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{{partial "titleCommonMetas"}}
		<title>Title</title>
	</head>
	<body>
	<pre style="color:#585858;font-size:16px;font-family:'Lato',Helvetica,Arial,sans-serif;">
{{#if accountNumber}}
<strong>RingCentral Account Number: </strong>{{accountNumber}}<br/>
{{/if}}
<strong>First name: </strong>{{firstName}}
<br/>
<strong>Last name: </strong>{{lastName}}
<br/>
<strong>Email address: </strong><a style="text-decoration:none;color:#0073ae;" href="mailto:{{email}}">{{email}}</a>
<br/>
<strong>Phone number: </strong>{{phoneNumber}}
<br/>
<strong>Needs: </strong>{{needs}}
<br/>
</pre>
	</body>
</html>
