{{let "cssRcBanner" "color:#336699;border: 2.25pt solid #F2F2F2;padding: 15px;margin-bottom: 20px;"}}
{{let "cssRcBannerA" "color:#E3811C;"}}
{{let "cssRcBannerP" "color: #666666;font-size: 9pt;"}}
{{let "cssRcBannerDiv" "color:#E3811C;text-align: center;margin-top: 10px;"}}
{{let "cssRcBannerH1" "color:#336699;font-size: 10.5pt;font-weight: bold;margin: 0 0 10px;padding: 0;"}}
{{let "cssRCMeetingsBanner" "border: 1px solid #F2F2F2;background:#EFEFEF;padding: 2px;margin-bottom: 20px;"}}

{{#if (eq $Tier_Type 'Freyja')}}
    <div style="{{@cssRCMeetingsBanner}}">
        <a href="https://www.ringcentral.com/office/plansandpricing.html">
            <img src="https://go.ringcentral.com/rs/075-DTB-715/images/FREJYA_Banner_1.png"
                 alt="Office pricing"/>
        </a>
    </div>

    <div style="{{@cssRCMeetingsBanner}}">
        {{let "bannerUrl"
              "https://www.ringcentral.com/online-meetings/plansandpricing.html"}}
        <a href="{{@bannerUrl}}">
            <img src="https://go.ringcentral.com/rs/075-DTB-715/images/FREJYA_Banner_2.png"
                 alt="Meetings pricing"/>
        </a>
    </div>
{{else}}
    {{#if isServiceStatement}}
        <div style="{{@cssRcBanner}}">
            <b><span style="font-size:10.5pt;color: #336699;">Love RingCentral?</span></b>

            <p style="font-size:9.0pt;color:#666666;">Earn up to $2500 for each business
                you refer. <b><a style="color:#E3811C"
                        href="http://www.ringcentral.com/buylove/buylove.html?BMID=REFTIER">Refer Now</a></b>
            </p>
        </div>
        <div style="{{@cssRcBanner}}">
            <span style="font-size:9.0pt;color:#666666;">Elevate your service to a complete cloud phone system with voice, fax, text, conferencing and more.</span>
            <p style="text-align: center;"><b><span
                    style="font-size:10.5pt;color: #336699;">RingCentral Office</span></b>
            </p>

            <p style="text-align: center;"><a
                    href="http://www.ringcentral.com/office/how-it-works.html">
                <img alt="" width="105" height="22"
                     src="http://marketo.ringcentral.com/rs/ringcentral/images/free_trial_btn_105x22.png"/></a>
            </p>
            <img alt="" width="230" height="124"
                 src="http://marketo.ringcentral.com/rs/ringcentral/images/banner4img.jpg"/>

        </div>
    {{/if}}
    <div style="{{@cssRcBanner}}">
        <h1 style="{{@cssRcBannerH1}}">RingCentral Phone</h1>
        <p style="{{@cssRcBannerP}}">
            Take your business phone system everywhere you go with the RingCentral mobile app
            for <a
                href="https://itunes.apple.com/us/app/ringcentral-mobile/id293305984?mt=8"
                title="iOS" style="{{@cssRcBannerA}}">iOS</a> and <a
                href="https://play.google.com/store/apps/details?id=com.ringcentral.android"
                title="Android" style="{{@cssRcBannerA}}">Android</a>
        </p>

        <div style="{{@cssRcBannerDiv}}">
            <a href="https://itunes.apple.com/us/app/ringcentral-mobile/id293305984?mt=8">
                <img alt="" width="136" height="46"
                     src="http://marketo.ringcentral.com/rs/ringcentral/images/app_apple_136x46.png"/>
            </a>
        </div>

        <div style="{{@cssRcBannerDiv}}">
            <a href="https://play.google.com/store/apps/details?id=com.ringcentral.android">
                <img alt="" width="136" height="46"
                     src="http://marketo.ringcentral.com/rs/ringcentral/images/app_google_136x46.png"/>
            </a>
        </div>
    </div>
{{/if}}