<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        span { font-family: Arial, Helvetica, sans-serif; }
        .column-description {
            width:21%;padding-bottom:6px;text-align:left;padding-left: 10px;
        }
        .column-value {
            width:79%;padding-bottom:6px;text-align:left;
        }
    </style>

    <title></title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>
            {{partial "headerLogoAndText"  headerTitle="Text Message"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <table style="background-color: #FFFFFF; margin: 0 auto" width="600" border="0">
                <tr>
                    <td valign="top">
                        <div style="color: #000000">
                            <br/>
                            Dear {{{$Extension_FullName}}},
                            <p>You have a new text message:</p>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF">
                                <tr>
                                    <td class="column-description"><strong>From:</strong></td>
                                    <td class="column-value">
                                        {{#with fromNumber}}{{#if personalName}}{{{personalName}}}{{else if phoneNumber}}{{{phoneNumber}}}{{else}}&lt;Unknown&gt;{{/if}}{{/with}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>To:</strong></td>
                                    <td class="column-value">
                                        {{#each toNumbers}}{{#unlesseq phoneNumber ../fromNumber.phoneNumber}}{{#if @commaRequired}}, {{/if}}{{#if personalName}}{{{personalName}}}{{else if phoneNumber}}{{{phoneNumber}}}{{else}}&lt;Unknown&gt;{{/if}}{{let "commaRequired" true}}{{/unlesseq}}{{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>Received:</strong></td>
                                    <td class="column-value">{{#with datetimeReceived}}{{{dateLong}}} at {{{time}}}{{/with}}</td>
                                </tr>

                                {{#if $Account_isHipaa}}
                                    <tr>
                                        <td class="column-description"><strong>Message:</strong></td>
                                        <td class="column-value">
                                            Preview is suppressed. Please login to view.
                                        </td>
                                    </tr>
                                {{else}}
                                    {{#if message}}
                                        <tr>
                                            <td class="column-description"><strong>Message:</strong></td>
                                            <td class="column-value">{{{message}}}</td>
                                        </tr>
                                    {{/if}}
                                {{/if}}
                                {{#if $Account_isHipaa}}
                                    <tr>
                                        <td class="column-description">
                                            <strong>Attachment:</strong>
                                        </td>
                                        <td class="column-value">
                                            Attachment is suppressed. Please login to view.
                                        </td>
                                    </tr>
                                {{else}}
                                    {{#if $General_FilesAllCount}}
                                        <tr>
                                            <td class="column-description">
                                                <strong>Attachment:</strong>
                                            </td>
                                            <td class="column-value">
                                                {{#oneline}}
                                                    {{#if $General_FilesImagesCount}}
                                                        {{{$General_FilesImagesCount}}}
                                                        {{#ifeq $General_FilesImagesCount 1}}&nbsp;image{{else}}&nbsp;images{{/ifeq}}
                                                    {{/if}}
                                                    {{#if $General_FilesVideosCount}}
                                                        {{#ifeq $General_FilesImagesCount 0}}{{else}},&nbsp;{{/ifeq}}
                                                        {{{$General_FilesVideosCount}}}
                                                        {{#ifeq $General_FilesVideosCount 1}}&nbsp;video{{else}}&nbsp;videos{{/ifeq}}
                                                    {{/if}}
                                                    {{#ifeq (subtract (subtract $General_FilesAllCount $General_FilesImagesCount) $General_FilesVideosCount) 0}}
                                                    {{else}}
                                                        {{#ifeq (add $General_FilesImagesCount $General_FilesVideosCount) 0}}{{else}},&nbsp;{{/ifeq}}
                                                        {{subtract (subtract $General_FilesAllCount $General_FilesImagesCount) $General_FilesVideosCount}}
                                                        {{#ifeq (subtract (subtract $General_FilesAllCount $General_FilesImagesCount) $General_FilesVideosCount) 1}}&nbsp;file{{else}}&nbsp;files{{/ifeq}}
                                                    {{/ifeq}}
                                                {{/oneline}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                {{/if}}
                            </table>
                            <br/>
                            To reply using the RingCentral app, <a href="{{{$Account_MobileAppLink}}}">click here</a>.<br/>

                            <p>Thank you for using {{{$Brand_DisplayName}}}!</p>
                        </div>
                    </td>
                </tr>
            </table>

            <br/>
            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{#if $Account_PromosEnabled}}
                {{partial "promoGlip"}}
            {{/if}}

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
