<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Your app has been unblocked</title>		
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndText" headerTitle=""}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">                                                                
                                <br/>
                                Hi {{$Extension_FirstName}},
                                <br />
                                <br />
                                We are glad to inform you that your organization's app "{{appName}}" has been unblocked. Your app is now activated for production.
                                <br />
                                <br />
                                Please review your application details in the <a href="{{dpwWebUrl}}">Developer Portal</a> and our <a href="{{dpwWebUrl}}/api-docs/">API Developer Guide</a> to ensure
        your application is behaving properly to avoid blocking in the future.
								<br />
                                <br />
								For any questions, please contact us at <a href="mailto:devsupport@ringcentral.com">devsupport@ringcentral.com</a>.
								<br />
                                <br />
								Thanks,
								<br />
								RingCentral Developer Relations Team
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerCommonTosAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>


