<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {{partial "titleCommonMetas"}}
  <title>User settings modified</title>
  <style type="text/css">
    body {
      font-family: arial, sans-serif;
      font-size: 10pt;
    }

    table {
      font-family: arial, sans-serif;
      font-size: 10pt;
    }
  </style>


</head>

<body>
    <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
      <tbody>
        <tr>
          <td>



              {{partial "headerLogoAndText"  headerTitle="User settings modified"}}


              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table border="0" width="600">
              <tbody>
                <tr>
                  <td valign="top">
                    <p>Dear {{{$Extension_FirstName}}} {{{$Extension_LastName}}},</p>
                    <p> Some of your {{{$Brand_DisplayName}}} User Settings have been
                      changed. Your Administrator recently applied
                      standardized user settings to your {{{$Brand_DisplayName}}}
                      account to comply with company policies. These
                      settings override any preferences you might have
                      applied earlier. You can log in to your {{{$Brand_DisplayName}}} account to check the changes. </p>
                      {{#unless batchUpdate}}
                          <p>The following settings have been modified:</p>
                      <!--{{#if templateSections}}-->
                      <ul style="font-family: Arial, Helvetica, sans-serif; font-size: 15px">
                          <!--{{#each templateSections}}-->
                          <li>{{this}}</li>
                          <!--{{/each}}-->
                      </ul>
                      <!--{{/if}}-->
                      {{/unless}}
                    <p>
                      This is an automated notification. If you have any
                      questions, please contact your Administrator for
                      more information.</p>
                    <br />
                    <br />
                    Thank you for using {{{$Brand_DisplayName}}}!<br />
                    <br />
                  </td>
                </tr>
              </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />


              {{partial "footerCommonTosAndCopyright"}}

          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
