{{#if (eq noticeType 'LOW_BALANCE')}}
    Courtesy Notice - Calling Credit - Low Balance
{{/if}}
{{#if (eq noticeType 'ZERO_BALANCE')}}
    Important Service Notice - Calling Credit - ZERO Balance
{{/if}}
{{#if (eq noticeType 'FAILED_AUTO_PURCHASE')}}
    Important Account Notice - Calling Credit - FAILED Auto Purchase
{{/if}}