<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Equipment Return Confirmation</title>
</head>
<body>
<p>
    UserID: {{{userId}}}<br/>
    Account Phone Number: {{{accountNumber}}}<br/>
    Device Type: {{{deviceType}}}<br/>
    Device InstanceID: {{{deviceInstanceId}}}<br/>
    Condition: {{{deviceCondition}}}<br/>
    Condition Notes: {{{deviceConditionNotes}}}<br/>
    Date: {{{dateTime}}}<br/>
</p>
</body>
</html>