You Have a New Text Message
From: {{#with fromNumber}}{{#if personalName}}{{{personalName}}}{{else if phoneNumber}}{{{phoneNumber}}}{{else}}<Unknown>{{/if}}{{/with}}
To: {{#each toNumbers}}{{#unlesseq phoneNumber ../fromNumber.phoneNumber}}{{#if @commaRequired}}, {{/if}}{{#if personalName}}{{{personalName}}}{{else if phoneNumber}}{{{phoneNumber}}}{{else}}<Unknown>{{/if}}{{let "commaRequired" true}}{{/unlesseq}}{{/each}}
Received: {{#with datetimeReceived}}{{{dateLong}}} at {{{time}}}{{/with}}
Message: {{{message}}}

You can get RingCentral app here: {{{$Account_MobileAppLink}}}

Thank you for using {{{$Brand_DisplayName}}}.