{{#if (eq returnType 'RegularReturn')}}IP equipment return confirmation{{/if}}
{{#if (eq returnType 'RMAReady')}}IP equipment return confirmation RMA Ready. Reorder Device.{{/if}}
{{#if (eq returnType 'AutomaticReturnProcessed')}}IP equipment return confirmation. RMA auto. Device Automatically reordered. New Order # is {{{newRequestNumber}}}{{/if}}