<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        span { font-family: Arial, Helvetica, sans-serif; }
        .column-description {
            width:21%;padding-bottom:6px;text-align:left;padding-left: 10px;
        }
        .column-value {
            width:79%;padding-bottom:6px;text-align:left;
        }
    </style>

    <title></title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>
            {{partial "headerLogoAndText"  headerTitle="Fax Message"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <table style="background-color: #FFFFFF; margin: 0 auto" width="600" border="0">
                <tr>
                    <td valign="top">
                        <div style="color: #000000">
                            <br/>
                            Dear {{{$Extension_FullName}}},
                            <p>You have a new fax message:</p>

                            {{#if partiallyReceived}}
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td colspan="3"><img style="border:none;" alt="" src=""/></td>
                                    </tr>
                                    <tr>
                                        <td><img alt="" src="" style="border:none;"/></td>
                                        <td style="background-color: #FFEFB0;padding-left: 10px; padding-right: 10px;" align="left">
                                            <span style="color: black">
                                                This fax was partially received and some pages may be missing. For more information,
                                                please <a href="http://success.ringcentral.com.au/articles/RC_Knowledge_Article/Partially-Received-Faxes">click here</a>.
                                            </span>
                                        </td>
                                        <td style="padding-right: 1px;"><img alt="" src="" style="border:none;"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><img alt="" src="" style="border:none;"/></td>
                                    </tr>
                                </table>
                                <br/>
                            {{/if}}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="column-description"><strong>From:</strong></td>
                                    <td class="column-value">{{{callerNamePhone}}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>Received:</strong></td>
                                    <td class="column-value">{{#with datetimeReceived}}{{{datetimeLong}}}{{/with}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>Pages:</strong></td>
                                    <td class="column-value">{{{pagesCount}}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>To:</strong></td>
                                    <td class="column-value">{{{cfnaPhone}}} {{{toName}}}</td>
                                </tr>
                            </table>
                            <br/>
                            <div>
                                {{#if partiallyReceived}}
                                    {{#if $General_FilesAllCount}}
                                        {{#if loginURL}}
                                            To view this message, please open the attachment or login to your {{{$Brand_DisplayName}}}
                                            account by clicking <a href="{{{loginURL}}}"> here</a>.
                                        {{else}}
                                            To view this message, please open the attachment.
                                        {{/if}}
                                    {{else}}
                                        To view this message, login to your {{{$Brand_DisplayName}}}
                                        account by clicking <a href="{{{loginURL}}}"> here</a>.
                                    {{/if}}
                                {{else}}
                                    {{#if $General_FilesAllCount}}
                                        To view this message, open the attachment or use <a href="{{{$Account_MobileAppLink}}}">
                                        RingCentral app</a> to have instant access to all your messages on the go.
                                    {{else if loginURL}}
                                        View this message on your <a href="{{{$Account_MobileAppLink}}}">
                                        RingCentral app</a> or <a href="{{{loginURL}}}">login</a>
                                        to your RingCentral account.
                                    {{else}}
                                        View this message on your <a href="{{{$Account_MobileAppLink}}}">
                                        RingCentral app</a>.
                                    {{/if}}
                                {{/if}}
                            </div>
                            <br/>

                            <p>Thank you for using {{{$Brand_DisplayName}}}!</p>
                        </div>
                    </td>
                </tr>
            </table>

            <br/>
            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{#if $Account_PromosEnabled}}
                {{#if partiallyReceived}}
                    {{partial "promoReferral"}}
                {{else}}
                    {{partial "promoGlip"}}
                {{/if}}
            {{/if}}

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
