<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Concurrent Call Limits: Limits exceeded</title>
    </head>
    <body>
        <p>
            UserID: {{{UserID}}}<br/>
            Account Number: {{{$Account_MainNumber}}}<br/>
            Extension: {{{$Extension_Number}}}<br/>
        </p>
              <p>
                  Current limit: {{{threshold}}}<br/>
                   Date: {{{DateTime}}}<br/>
              </p>                                                                
                                                                               
    </body>
</html>
