<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Mobile Users Usage</title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>
            {{partial "headerLogoAndText" headerTitle=""}}
            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <table>
                <tbody>
                <tr>
                    <td>
                        <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">
                            Account Number: {{{$Account_MainNumber}}}<br/>
                            Extension: {{{pin}}}<br/>
                            Service Plan: {{{$Brand_DisplayName}}} {{{$Tier_Name}}}
                            <br/><br/>
                            Dear {{{$Extension_FullName}}},
                            <br/><br/>
                            The attached Call Log has been sent to you based on your request.
                            <br/><br/>
                            Thank you for using {{{$Brand_DisplayName}}}!
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            {{partial "footerCommonTosAndCopyright"}}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>