<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Free Account Upgrade Request</title>		
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndText" headerTitle=""}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">                                                                
                                <br/>
                                You got an account upgrade request from {{firstName}} {{lastName}}:
                                <br />
                                <br />
                                <b>Old Main Company Phone Number: </b>{{oldMainNumber}}
                                <br />
								<b>Org ID: </b>{{orgId}}
                                <br />
								<b>Org Name: </b>{{orgName}}
                                <br />
								<b>Contact Phone: </b>{{phoneNumber}}
                                <br />
								<b>Email address: </b><a style="text-decoration:none;color:#0073ae;" href="mailto:{{email}}">{{email}}</a>
                                <br />
								<b>New Main Company Phone Number: </b>{{newMainNumber}}
                                <br />
                                <br />
                                Once verified, please access DPW Admin to migrate data.
								<br />								
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerCommonTosAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>

