<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Sign up Fail</title>
    </head>
    <body>
<table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">   
        <b>FirstName: </b>{{firstName}}
<br/>
<br/>
<b>LastName: </b>{{lastName}}
<br/>
<br/>
<b>Email: </b>{{email}}
<br/>
<br/>
<b>Organization Name: </b>{{organizationName}}
<br/>
<br/>
<b>BusinessPhone: </b>{{businessPhone}}
<br/>
<br/>
<b>Error Info: </b>{{errorMessage}}
<br/>
<br/>
</span>
                        </td>
                    </tr>
                </tbody>
            </table>                                                                
                                                                
    </body>
</html>