{{ let "cssParagraph" "font-size: 9pt; padding: 3px 0;"}}

<p style="{{@cssParagraph}}"><strong>Bill To:</strong></p>
<p style="{{@cssParagraph}}">{{addressInfo.firstName}} {{addressInfo.lastName}}</p>
<p style="{{@cssParagraph}}">{{addressInfo.companyName}}</p>
<p style="{{@cssParagraph}}">{{addressInfo.street1}} {{addressInfo.street2}}</p>
<p style="{{@cssParagraph}}">{{addressInfo.city}}, {{addressInfo.state}} {{addressInfo.zip}}, {{addressInfo.country}}</p>