{{#ifin noticeType '["TRIAL_DAYS_REMAINING_FIRST", "TRIAL_MINUTES_REMAINING_FIRST"]'}}
    Your trial is half over
{{/ifin}}
{{#ifin noticeType '["TRIAL_DAYS_REMAINING_SECOND", "TRIAL_MINUTES_REMAINING_SECOND"]'}}
    Your trial is almost over, act now to keep your service active
{{/ifin}}
{{#if (eq noticeType 'TRIAL_ENDED')}}
    Your trial has ended, there's still time to reactivate your service
{{/if}}