<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        span { font-family: Arial, Helvetica, sans-serif; }
        .column-description {
            width:21%;padding-bottom:6px;text-align:left;padding-left: 10px;
        }
        .column-value {
            width:79%;padding-bottom:6px;text-align:left;
        }
    </style>

    <title></title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>
            {{partial "headerLogoAndText"  headerTitle="Voice Message"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <table style="background-color: #FFFFFF; margin: 0 auto" width="600" border="0">
                <tr>
                    <td valign="top">
                        <div style="color: #000000">
                            <br/>
                            Dear {{{$Extension_FullName}}},
                            <p>You have a new voice message:</p>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="column-description"><strong>From:</strong></td>
                                    <td class="column-value">{{{callerNamePhone}}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>Received:</strong></td>
                                    <td class="column-value">{{#with datetimeReceived}}{{{datetimeLong}}}{{/with}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>Length:</strong></td>
                                    <td class="column-value">{{{vmSize}}}</td>
                                </tr>
                                <tr>
                                    <td class="column-description"><strong>To:</strong></td>
                                    <td class="column-value">{{{cfnaPhone}}} {{{toName}}}</td>
                                </tr>
                            </table>
                            {{#if vmtType}}
                                <div>
                                    {{#ifeq vmtType "full"}}<p><b>Voicemail Preview:</b></p>{{else ifeq vmtType "partial"}}<p><b>Voicemail Preview:</b> (Partial)</p>{{else}}<b>Voicemail Preview:</b> <i>Unavailable</i>{{/ifeq}}
                                </div>
                                <div style="padding-bottom:20px;">
                                    {{#if vmtValue}}{{{vmtValue}}}{{/if}}
                                </div>
                            {{/if}}
                            <div>
                                {{#if $General_FilesAllCount}}
                                    To listen to this message, open the attachment or use
                                    <a href="{{{$Account_MobileAppLink}}}">RingCentral app</a>
                                    to have instant access to all your messages on the go.
                                {{else if mailboxLoginURL}}
                                    Listen to this message on your
                                    <a href="{{{$Account_MobileAppLink}}}">RingCentral app</a>
                                    or <a href="{{{mailboxLoginURL}}}">login</a> to your RingCentral account.
                                {{else}}
                                    To listen to this message use
                                    <a href="{{{$Account_MobileAppLink}}}">RingCentral app</a>
                                    to have instant access to all your messages on the go.
                                {{/if}}
                            </div>
                            <br/>

                            <p>Thank you for using {{{$Brand_DisplayName}}}!</p>
                        </div>
                    </td>
                </tr>
            </table>

            <br/>
            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{#if $Account_PromosEnabled}}
                {{partial "promoGlip"}}
            {{/if}}

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
