<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
        span { font-family: Arial, Helvetica, sans-serif; }
    </style>

    <title>Security alert: we've locked your {{{$Brand_DisplayName}}} service</title>
</head>
<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>
            {{partial "headerOnlyLogo"}}

            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />

            <table style="background-color: #FFFFFF; margin: 0 auto" width="600" border="0">
                <tr>
                    <td valign="top">
                        <div style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000">
                            <br/>
                            Hello {{{$Extension_FullName}}},
                            <br/>
                            {{#ifeq lockCause "securityQuestion"}}
                                <p>
                                    Due to several incorrect responses to your security question during a password reset,
                                    a 60-minute security lock has been placed on your ability to reset password using the security question.
                                    <a href="{{{$Brand_SSWebUrl}}}/login/password.asp">Click here</a> to request a password reset to be sent to your email address.
                                </p>
                                <p>
                                    Your {{{$Brand_DisplayName}}} services will continue to operate without interruption during this period.
                                    We have taken this precaution to protect the security of your account.
                                </p>
                                <p>Thank you for using {{{$Brand_DisplayName}}}!</p>
                            {{else ifeq lockCause "login"}}
                                <p>
                                    Several unsuccessful login attempts have been made to your {{{$Brand_DisplayName}}} account, so we've put a 60 minute security lock on it.
                                    If you've forgotten your password, <a href="{{{$Brand_SSWebUrl}}}/login/password.asp">click here</a> to reset it.
                                </p>
                                <p>
                                    We've taken this precaution to protect your account security.
                                    Your {{{$Brand_DisplayName}}} services will carry on as usual.
                                </p>
                                <p>Thanks for using {{{$Brand_DisplayName}}}.</p>
                            {{/ifeq}}
                        </div>
                    </td>
                </tr>
            </table>

            <br/>
            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />

            {{partial "footerTextAndRcLogo"}}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>