<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Free Account Upgrade Success</title>		
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndText" headerTitle=""}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">                                                                
                                <br/>
                                Congratulations on upgrading your RingCentral account.
                                <br />
                                <br />
                                We have migrated all the info from your free account {{oldMainNumber}} into your new account {{newMainNumber}}.
                                <br />
                                <br />
                                Please <a href="https://developers.ringcentral.com">Login developer portal</a> with your new account info to continue building your app.
								<br />
                                <br />
								Note: your original free developer account has been disabled and can no longer be used.
								<br />
                                <br />
								For any questions, please contact us at <a href="mailto:devsupport@ringcentral.com">devsupport@ringcentral.com</a>.
								<br />
                                <br />
								Thank you for using RingCentral.
								<br />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerCommonTosAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>

