<p>
    We hope you enjoyed your trial of {{{$Brand_DisplayName}}} {{{$Tier_Name}}}. Your trial has ended and service on
    your number {{{$Account_MainNumber}}} is temporally suspended.
</p>
<p>
    There's still time to reactivate your service and keep your {{{$Brand_DisplayName}}} account, but you must act
    quickly.
</p>
<p>
    <a style="font-weight: bold;" href="{{{reactivateAccountLink}}}">Reactivate your service</a>
</p>