<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Free Account Send Invitation</title>		
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndText" headerTitle=""}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">                                                                
                                <br/>
                                You have been invited to join {{inviteName}}'s account: {{accountNumber}}.
                                <br />
                                <br />
                                Please activate it within <b>48 hours</b>.
                                <br />
                                <br />
                                
                                    <a href="{{emailLink}}" style="display: inline-block;width: 180px;height: 35px;background: #ff8800;border-radius: 5px;line-height: 35px;text-align: center;color: white;text-decoration: none;font-size: 16px">View Invitation</a>
                                
								<br />
                                <br />
								Or copy-and-paste this link into your browser:
								<br />
								<a href="{{emailLink}}">{{emailLink}}</a>
                                <br />
								<br />
                                Questions? Contact {{inviteName}} at <a href="mailto:{{inviteEmail}}">{{inviteEmail}}</a>
                                <br />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerCommonTosAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>

