<p>
    This is a courtesy notice to let you know that your account is running low on Calling Credit.
</p>

<table border="0" width="100%" cellspacing="0" cellpadding="5" style="border:solid 1px red;">
    <tr>
        <td bgcolor="#ffff99">
            <strong>If your account completely runs out of Calling Credit, your number will become temporarily unavailable to all of your callers.</strong>
        </td>
    </tr>
</table>

<p>
    To ensure that you won't experience any service interruptions, please follow this link below to add Calling Credit to your account:
</p>