{{#if (eq $Tier_Type 'Freyja')}}
    {{let "itemPerUnit" true}}
    {{let "colspan" 5}}
{{else}}
    {{let "itemPerUnit" false}}
    {{let "colspan" 3}}
{{/if}}

{{let "cssH2" "font-size: 18.0pt;margin: 23px 0;color: #333333;font-weight: normal;"}}
{{let "cssH3" "font-size: 16.0pt;margin: 23px 0;color: #333333;font-weight: normal;"}}
{{let "cssChargesTitleCell" "font-size: 10.5pt;padding-bottom: 6pt;"}}
{{let "cssChargeItemCell" "color: #666666; font-size: 9pt; padding: 6pt 0;"}}
{{let "cssChargesTotalItemCell" "color: #666666; font-size: 9pt; padding: 3pt 0;"}}
{{let "cssChargesTotalCell" "color: #666666; font-size: 9pt; padding: 3pt 0;font-weight: bold;"}}

{{let "charges" chargeItems}}
{{let "adjustments" adjustmentItems}}
{{let "chargesTotal" chargesInfo.total}}

<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
    <!-- Part Header -->
    <tr>
        <td colspan="5"><h2 style="{{@cssH2}}">{{#if @isStatement}}Statement Details{{else}}Additional Services{{/if}}</h2></td>
    </tr>

    <!-- Border line-->
    <tr>
        <td colspan="5" class="borderLine"></td>
    </tr>

    {{#each billingCodes}}
        {{let "bc" this}}

        <tr>
            <td colspan="5"><h3 style="{{@cssH3}}">Cost Center Code: {{@bc.path}}</h3></td>
        </tr>

        <!-- Table Header -->
        <tr>
            <td style="{{@cssChargesTitleCell}} width: 31%">Period</td>
            <td style="{{@cssChargesTitleCell}}">Service</td>
            {{#if itemPerUnit}}
                <td style="{{@cssChargesTitleCell}} width:15%;" align="right">Unit Price</td>
                <td style="{{@cssChargesTitleCell}} width:15%;" align="right">Quantity</td>
            {{/if}}
            <td style="{{@cssChargesTitleCell}} width:10%;" align="right">Amount</td>
        </tr>

        <!-- Border line-->
        <tr>
            <td colspan="5" class="borderLine"></td>
        </tr>

        {{#if @charges}}
            <!-- \Order Charge Items -->
            <!-- -->
            {{#each ../chargeItems}}
                {{#if (eq this.billingCodeId @bc.id)}}
                    <tr>
                        <td style="{{@cssChargeItemCell}}">
                            {{#if this.itemStartDate}} {{this.itemStartDate}} - {{this.itemEndDate}} {{else}}
                                &nbsp; {{/if}}
                        </td>
                        <td style="{{@cssChargeItemCell}}">
                            {{#if this.isSubItem}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{/if}}
                            {{#if this.itemHasPhone}}
                                {{this.itemPrefix}}-
                                    {{this.itemPhone}}{{this.itemSuffix}}<!--UCM backend keep white space symbol in prefix and suffix-->
                            {{else}}
                                {{this.itemName}}
                            {{/if}}
                        </td>
                        {{#if itemPerUnit}}
                            <td style="{{@cssChargeItemCell}}" align="right">{{this.pricePerUnit}}</td>
                            <td style="{{@cssChargeItemCell}}" align="center">{{this.numberOfUnits}}</td>
                        {{/if}}
                        <td style="{{@cssChargeItemCell}}" align="right">{{this.itemAmount}}</td>
                    </tr>
                {{/if}}
            {{/each}}

            <!-- Border line-->
            <tr>
                <td colspan="{{@colspan}}" class="borderLine"></td>
            </tr>

            <tr>
                <td style="{{@cssChargeItemCell}}" colspan="{{subtract @colspan 1}}" align="right">Charges:</td>
                <td style="{{@cssChargeItemCell}}" align="right">{{@bc.charges}}</td>
            </tr>
            <!-- -->
            <!-- /Order Charge Items -->
        {{/if}}

        {{#if @adjustments}}
            <!-- \order Adjustments -->
            <!-- -->
            <tr>
                <td></td>
                <td style="{{@cssChargesTitleCell}}">Adjustments</td>
                <td style="{{@cssChargesTitleCell}}" colspan="{{subtract @colspan 2}}"></td>
            </tr>

            <!-- Border line-->
            <tr>
                <td colspan="{{@colspan}}" class="borderLine"></td>
            </tr>

            <!-- -->
            {{#each ../adjustmentItems}}
                <tr>
                    <td style="{{@cssChargeItemCell}}">{{this.itemStartDate}} - {{itemEndDate}}</td>
                    <td style="{{@cssChargeItemCell}}">
                        {{#if this.isSubItem}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{/if}}
                        {{#if this.itemHasPhone}}
                            {{this.itemPrefix}}-
                                {{this.itemPhone}}{{this.itemSuffix}}<!--UCM backend keep white space symbol in prefix and suffix-->
                        {{else}}
                            {{this.itemName}}
                        {{/if}}
                    </td>
                    {{#if itemPerUnit}}
                        <td style="{{@cssChargeItemCell}}" align="right">{{this.pricePerUnit}}</td>
                        <td style="{{@cssChargeItemCell}}" align="center">{{this.numberOfUnits}}</td>
                    {{/if}}
                    <td style="{{@cssChargeItemCell}}" align="right">{{this.itemAmount}}</td>
                </tr>
            {{/each}}

            <!-- Border line-->
            <tr>
                <td colspan="{{@colspan}}" class="borderLine"></td>
            </tr>

            <tr>
                <td style="{{@cssChargeItemCell}}" colspan="{{subtract @colspan 1}}" align="right">Adjustments:</td>
                <td style="{{@cssChargeItemCell}}" align="right">{{@bc.adjustments}}</td>
            </tr>
            <!-- -->
            <!-- /order Adjustments -->
        {{/if}}

        <!-- Border line-->
        <tr>
            <td colspan="{{@colspan}}" class="borderLineDouble"></td>
        </tr>

        <tr>
            <td style="{{@cssChargeItemCell}}" colspan="{{subtract @colspan 1}}" align="right">Taxes, Charges, and
                Fees:
            </td>
            <td style="{{@cssChargeItemCell}}" align="right">{{@bc.taxesAndFees}}</td>
        </tr>

        <tr>
            <td style="{{@cssChargeItemCell}}" colspan="{{subtract @colspan 1}}" align="right">Cost Center Code
                Subtotal:
            </td>
            <td style="{{@cssChargeItemCell}}" align="right">{{@bc.total}}</td>
        </tr>

        <!-- Border line-->
        <tr>
            <td colspan="{{@colspan}}" class="borderLineDouble"></td>
        </tr>

    {{/each}}

    <tr>
        <td colspan="5"><h2 style="{{@cssH2}}">Order Totals</h2></td>
    </tr>

    <!-- Totals -->
    {{#unlesseq feesInfo.total "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "feesInfoTotal" feesInfo.total}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Current Service Fees:</td>
        <!-- -x-(-x) == 0 => negative -->
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@feesInfoTotal}}</td>
    </tr>
    {{/unlesseq}}

    {{#unlesseq adjustmentsInfo.total "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "adjustmentsInfoTotal" adjustmentsInfo.total}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Current Adjustments:</td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@adjustmentsInfoTotal}}</td>
    </tr>
    {{/unlesseq}}

    {{#unlesseq taxesInfo.total "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "taxesInfoTotal" taxesInfo.total}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Current Taxes, Charges and Fees*:
        </td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@taxesInfoTotal}}</td>
    </tr>
    {{/unlesseq}}

    {{#unlesseq freeServiceCreditInfo.applied "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "fscApplied" freeServiceCreditInfo.applied}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Total deducted from Free Service credit balance:</td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@fscApplied}}</td>
    </tr>
    {{/unlesseq}}

    {{#unlesseq creditsInfo.applied "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "creditsInfoApplied" creditsInfo.applied}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Applied Account Credit:</td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@creditsInfoApplied}}</td>
    </tr>
    {{/unlesseq}}

    <tr>
        {{#if (lt summaryInfo.totalAsNum 0)}}
            {{let "summaryInfoTotal" "$0.00"}}
        {{else}}
            {{let "summaryInfoTotal" summaryInfo.total}}
        {{/if}}
        <td></td>
        <td style="{{@cssChargesTotalCell}}" colspan="{{subtract @colspan 2}}">Total Current Charges:</td>
        <td style="{{@cssChargesTotalCell}}" align="right">{{@summaryInfoTotal}}</td><!-- @summaryInfoTotal -->
    </tr>

    {{#unlesseq creditsInfo.remaining "$0.00"}}<!-- !=0 -->
    <tr>
        {{let "creditsInfoRemaining" creditsInfo.remaining}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Remaining Credit:</td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@creditsInfoRemaining}}</td>
    </tr>
    {{/unlesseq}}

    {{#if (gt creditsInfo.issuedAsNum 0)}}<!-- > 0 -->
    <tr>
        {{let "creditsInfoIssued" creditsInfo.issued}}
        <td></td>
        <td style="{{@cssChargesTotalItemCell}}" colspan="{{subtract @colspan 2}}">Account Credit Issued:</td>
        <td style="{{@cssChargesTotalItemCell}}" align="right">{{@creditsInfoIssued}}</td>
    </tr>
    {{/if}}

    </tbody>
</table>