<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        body, table {
            font-family: arial, Helvetica, sans-serif;
            font-size: 10pt;
        }
    </style>
    <title>{{{$Brand_DisplayName}}} - annual plan renewal notice</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>Account Number:</td>
        <td>&nbsp;</td>
        <td>{{{$Account_MainNumber}}}{{#unless $Extension_IsSystemAdmin}}, Ext. {{{$Extension_Number}}}{{/unless}}</td>
    </tr>
    <tr>
        <td>Service Plan:</td>
        <td>&nbsp;</td>
        <td>{{{$Brand_DisplayName}}} {{{$Tier_Name}}}</td>
    </tr>
    <tr>
        <td>Next Billing Date:</td>
        <td>&nbsp;</td>
        <td>{{{downgradeTime}}}</td>
    </tr>
    <tr>
        <td>Estimated Renewal Price:</td>
        <td>&nbsp;</td>
        <td>{{{renewalPrice}}}</td>
    </tr>
</table>
<p>
    Dear {{{$Extension_FullName}}},
    <br/> <br/>
    This is a friendly reminder to let you know that your annual billing plan for your
    {{{$Brand_DisplayName}}} {{{$Tier_Name}}} service is scheduled to automatically renew in 15 days.
    <br/><br/>
    Please note:
</p>
<ul>
    <li>The above Estimated Renewal Price may change if any additional recurring items will be added to your account
        between the date of notice and your Service Renewal date.
    </li>
    <li>The above Estimated Discounts are calculated based on date of notice. Actual discounts will be calculated and
        applied on the Service Renewal date.
    </li>
    <li>The above Estimated Taxes are provided based on today's rates. Actual taxes will be calculated and applied on
        the Service Renewal date.
    </li>
</ul>
<p>
    If you have any questions whatsoever, or would like to discuss your billing options,
    please feel free to contact us {{{$Brand_LocalSupportPhoneNumber}}}.
    <br/> <br/>
    Thank you for using {{{$Brand_DisplayName}}}!
</p>

</body>
</html>