<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Email Verification Code</title>		
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndText" headerTitle=""}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">                                                                
                                <br/>
                                Hi {{$Extension_FullName}},
                                <br />
                                <br />
                                You’re making a change of the email address for your RingCentral Developer account. To complete the process, we
        just need to verify that this email address belongs to you. Enter the following verification code when prompted.
                                <br />
                                <br />
                                <b>Your verification code: {{code}}</b>
								<br />
                                <br />
								This code will expire after 1 hour.
								<br />
                                <br />
								Thanks,
								<br />
								RingCentral Developer Relations Team
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerCommonTosAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>

