<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        p    {font-family: Arial, Helvetica, sans-serif;font-size:10pt;}
        td   {font-family: Arial, Helvetica, sans-serif;font-size:10pt;}
        span {font-family: Arial, Helvetica, sans-serif;}
    </style>
    <title>Change Notice from {{{$Brand_DisplayName}}}</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 0 auto">
    <tbody>
    <tr>
        <td>

            {{partial "headerOnlyLogo"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <br/>

            <p>
                Dear {{{$Extension_FirstName}}} {{{$Extension_LastName}}},
            </p>

            <p>
                {{#ifeq action "add"}}
                    You have been assigned as a delegate for <strong>{{{bossName}}}</strong>.
                    As a delegate, you can answer and/or make calls on behalf of this person.
                {{else ifeq action "remove"}}
                    You are no longer a delegate for <strong>{{{bossName}}}</strong>.
                    Therefore, you can’t answer and/or make calls on behalf of this person.
                {{/ifeq}}
            </p>

            <br/>

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{partial "footerTextAndRcLogo"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>