<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Edit User Information Template</title>
    <style type="text/css">
        body {
            font-family: arial, sans-serif;
            font-size: 10pt;
        }

        table {
            font-family: arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>

<body>
<table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>

            {{partial "headerLogoAndBrandName"}}

            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>
            <table border="0" width="600">
                <tbody>
                <tr>
                    <td valign="top">
                        <p>
                            Dear {{{$Extension_FullName}}},
                        </p>
                        <p>
                            Please use the attached template to fill out your Edit User Information. Make sure you
                            follow the instructions provided in the template.
                            When completed, log back into your account and click on 'Edit User Information' button in
                            User List and follow instructions to upload the file.
                        </p>
                        Thank you for using {{{$Brand_DisplayName}}}!
                    </td>
                </tr>
                </tbody>
            </table>
            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>

            {{partial "footerTosLegalAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>