{{let "cssFooter" "color: #999999;font-size: 8.5pt;margin: 0 0 5px;"}}
{{let "cssLink" "color: #999999;"}}

<p style="{{@cssFooter}}">
    * For an explanation of taxes, charges and fees, "<a href="https://www.ringcentral.com/legal.html"
                                                         style="{{@cssLink}}">click here</a>".
</p>

<p style="{{@cssFooter}}">
    For a detailed view of your billing, to change your billing information or your service plan, please <a
        href="https://service.ringcentral.com" style="{{@cssLink}}">log in</a> to your account, select the Billing tab.
</p>

<p style="{{@cssFooter}}">
    Answers to common billing questions can be found at our
    <a href="http://success.ringcentral.com" title="Customer Care Center" style="{{@cssLink}}">Customer Care Center</a>.
    For personalized assistance with a specific issue,
    <a href="http://success.ringcentral.com/RCContactSupp" title="Open a Case" style="{{@cssLink}}">Open a Case</a>.
</p>

<p style="{{@cssFooter}}">
    Copyright {{$General_CurrentYear}} RingCentral, Inc. All rights reserved. RingCentral is a registered trademark of
    RingCentral, Inc. 20 Davis Drive, Belmont, CA 94002, USA.
</p>