<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Delete App Notification</title>
    </head>
    <body>
         <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
           <tbody>
        <tr>
          <td>

              {{partial "headerLogoAndBrandName" headerTitle="Security Notice"}}

              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />
            <table  border="0" width="600">
                <tbody>
                    <tr>
                        <td style=" line-height: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">
                                <br />
                                <b>Account: </b>{{$Account_MainNumber}}
                                <br/>
                                <br/>
                                Dear {{$Extension_FullName}},
                                <br />
                                <br />
                                This security notice is to advise you about recent changes in your account: <b>The App &lt;{{appName}}&gt; has been deleted by {{initialBy}}</b>.
                                <br />
                                <br />
                                Thank you for using {{{$Brand_DisplayName}}}!
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
              <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

              {{partial "footerTosLegalAndCopyright"}}


          </td>
        </tr>
      </tbody>
    </table>                                                       
                                                                
                                                                
    </body>
</html>

