<p>
    This is a courtesy notice from {{{$Brand_DisplayName}}} to let you know that you have used all of the calling credit on your account.
</p>

<table border="0" width="100%" cellspacing="0" cellpadding="5" style="border:solid 1px red;">
    <tr>
        <td bgcolor="#ffff99">
            <strong>Please be aware that your {{{$Brand_DisplayName}}} number will be temporarily unavailable to all callers until more Calling Credit has been purchased.</strong>
        </td>
    </tr>
</table>

<p>
    To add Calling Credit to your account now, please follow this link:
</p>