<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>User Feedback</title>
</head>
<body>
<p>
    From: {{{$Account_MainNumber}}} {{{$Extension_FullName}}} {{{$Account_CompanyName}}}<br/>
    UserID: {{{userId}}}<br/>
    Tier: {{{$Brand_DisplayName}}} {{{$Tier_Name}}}<br/>
    Subscriber since: {{{startSubscriptionDate}}}<br/>
    Plan duration: {{{planDuration}}}<br/>
    Mailbox: {{{amountOfMailboxes}}}<br/>
    <br/>
    {{{text}}}
</p>
</body>
</html>