<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        body, table {color:#666666; font-family:Arial; font-size: 10pt;}
    </style>
    <title>Courtesy notice from {{{$Brand_DisplayName}}}</title>
</head>

<body>
<table style="margin: 0 auto; width: 600px; padding: 0" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>

            {{partial "headerLogoAndText"  headerTitle = "Service Notice"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <p>
                Dear {{{$Extension_FullName}}},
            </p>
            <table style="padding-top:10px;" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><strong>Account Number: </strong></td>
                    <td>&nbsp;</td>
                    <td>{{{$Account_MainNumber}}}</td>
                </tr>
                <tr>
                    <td><strong>Service Plan:</strong></td>
                    <td>&nbsp;</td>
                    <td>{{{$Brand_DisplayName}}} {{{$Tier_Name}}}</td>
                </tr>
                <tr>
                    <td><strong>Next Billing Date:</strong></td>
                    <td>&nbsp;</td>
                    <td>{{{nextBillingDate}}}</td>
                </tr>
            </table>

            <p style="padding-top:10px;">
                The credit card on file for your account will expire prior to your next billing date.
            </p>

            <p style="padding-top:10px;">
                Please update your credit information, at your earliest convenience, to avoid disruption to your {{{$Brand_DisplayName}}} service.
            </p>

            <p style="padding-top:10px;">
                You can update now by clicking this link: <br/>
                <a style="color:#f8981d" href="https://service.ringcentral.com/?rdr=/settings/payment"><strong>Update My Credit Card Information</strong></a>
            </p>

            <p style="padding-top:10px;">
                Got Questions? The <a style="color:#f8981d" href="{{{$Brand_HelpUrl}}}" title="RingCentral Support Center">{{{$Brand_DisplayName}}} Support Center</a>
                has everything you need to answer your questions and configure your service.
            </p>
            <p>
                You can also <a style="color:#f8981d" href="http://success.ringcentral.com/RCContactSupp" title="Open a Case">Open a Case</a>
                online. You're always in the know with online and email status updates.
            </p>

            <p style="padding-top:10px;">
                Thank you for using {{{$Brand_DisplayName}}}.
            </p>

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>