{{let "cssLink" "color: #333333;"}}

<table border="0" cellspacing="3" cellpadding="3" width="100%" style="font-size: 9pt;">
    <tbody>
    <tr>
        <td style="width:155px">
            <strong>
                {{#if (eq $Tier_Type 'Freyja')}}Account ID:{{else}}Account Number:{{/if}}
            </strong>
        </td>
        <td>
            <a href="https://service.ringcentral.com/" style="{{@cssLink}}">
                {{#if (eq $Tier_Type 'Freyja')}}{{{$Account_Number}}}{{else}}{{{$Account_MainNumber}}}{{/if}}{{#unless
                    $Extension_IsSystemAdmin}}, Ext. {{{$Extension_Number}}}{{/unless}}
            </a>
        </td>
    </tr>
    <tr>
        <td><strong>Statement Date:</strong></td>
        <td>{{accountInfo.statementDate}}</td>
    </tr>
    <tr>
        <td><strong>Subscription Name:</strong></td>
        <td>{{accountInfo.servicePlan}}</td>
    </tr>
    <tr>
        <td><strong>Reference #:</strong></td>
        <td>{{accountInfo.referenceId}}</td>
    </tr>
    </tbody>
</table>