<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <title>Use of blacklisted {{{category}}} detected</title>
</head>
<body>
<p>
    Blacklisted {{{category}}}: {{{reference}}}<br/>
    UserID: {{{userId}}}<br/>
    Account Number: {{{$Account_MainNumber}}}<br/>
    Extension: {{{$Extension_Number}}}<br/>
    Date: {{{datetime}}}<br/>
</p>
<p>
    Please call {{{$Brand_DisplayName}}} Support at {{{$Brand_AdditionalSupportPhoneNumber}}} for more information.
</p>
</body>
</html>