<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {{partial "titleCommonMetas"}}
  <title>User settings modified</title>
  <style type="text/css">
    body {
      font-family: arial, sans-serif;
      font-size: 10pt;
    }

    table {
      font-family: arial, sans-serif;
      font-size: 10pt;
    }
  </style>


</head>


  <body>
    <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
      <tbody>
        <tr>
          <td>

              {{partial "headerOnlyLogo"}}

              <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />



            <table border="0" width="100%">
              <tbody>
                <tr>
                  <td>
                    <p>Hello {{{$Extension_FirstName}}} {{{$Extension_LastName}}},</p>
                    <p>Your Administrator recently applied standardised
                      user settings to your {{{$Brand_DisplayName}}} account in
                      order to comply with company policies. These
                      settings will override any preferences you might
                      have applied earlier. You can log in to your {{{$Brand_DisplayName}}} account to check the changes.</p>
                      {{#unless batchUpdate}}
                          <p>The following settings have been modified:</p>
                      <!--{{#if templateSections}}-->
                      <ul style="font-family: Arial, Helvetica, sans-serif; font-size: 15px">
                          <!--{{#each templateSections}}-->
                          <li>{{this}}</li>
                          <!--{{/each}}-->
                      </ul>
                      <!--{{/if}}-->
                      {{/unless}}
                    <p>This is an automated notification. If you have
                      any questions, please contact your Administrator
                      for more information.</p>
                    <p>If you need any help, contact our support team on
                      {{{$Brand_LocalSupportPhoneNumber}}}.</p>
                    <p>Thanks for using {{{$Brand_DisplayName}}}.</p>
                  </td>
                </tr>
              </tbody>
            </table>
              <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;" />
              {{partial "footerTextAndRcLogo"}}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
