<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {{partial "titleCommonMetas"}}
        <title>Task {{taskId}} has been completed</title>
   </head>
    <body>
                                                                
    <table style="margin: 0 auto" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody>
    <tr>
        <td>

            {{partial "headerLogoAndText" headerTitle="Task completion"}}

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            <table  border="0" width="600">
                <tbody>
                <tr>
                    <td style=" line-height: 16px">
                        <div style="padding-bottom: 0.7em">Task details: </div>
                        <div style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 13px; text-align: justify;">
                            <table style="line-height: 20px; border-spacing: 0 5px">
                                <tr>
                                    <td style="font-weight: bold">Task ID:</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{taskId}}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Task state:</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{taskState}}</td>
                                </tr>
{{#if (eq userType 'RCUser')}} 
                                <tr>
                                    <td style="font-weight: bold">Account ID:</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{rcAccountId}}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Extension ID:</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{rcExtensionId}}</td>
                                </tr>
{{else}}
                                <tr>
                                    <td style="font-weight: bold">Email address:</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{glipEmailAddress}}</td>
                                </tr>
{{/if}}
                                <tr>
                                    <td style="font-weight: bold">Task stated (UTC):</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{taskStarted}}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Task finished (UTC):</td>
                                    <td style="width: 30px">&nbsp;</td>
                                    <td>{{taskFinished}}</td>
                                </tr>
                            </table>
                            <div>&nbsp;</div>
                            <div>
                                <span style="font-weight: bold">Links to download are valid till (UTC):</span> <span>{{taskLinksValid}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr style="background-color: #f39327; color: #f39327; border-top: 1px solid #f39327 !important; border-width: 1px 0 0 0;" />

            {{partial "footerCommonTosAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>                                       
                                                                
    </body>
</html>
