<p>
    Pursuant to your Auto-Purchase Options, we recently attempted to automatically purchase extra Calling Credit for your {{{$Brand_DisplayName}}} account.
</p>

<table border="0" width="100%" cellspacing="0" cellpadding="5" style="border:solid 1px red;">
    <tr>
        <td bgcolor="#ffff99">
            <strong>For security purposes, this attempt could not be processed because the purchase would have exceeded the maximum allowed value that can be processed on your account in a single billing cycle.</strong>
        </td>
    </tr>
</table>

<p>
    To avoid any possible service interruption, please contact us at your earliest convenience at {{{$Brand_LocalSupportPhoneNumber}}} to verify your billing information and request an account limit increase.
</p>