<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {{partial "titleCommonMetas"}}
    <style type="text/css">
        body, table {
            font-family: arial, Helvetica, sans-serif;
            font-size: 10pt;
        }
    </style>
    <title></title>
</head>

<body>
<table style="margin: 0 auto; width: 600px; padding: 0" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>

            {{partial "headerLogoAndBrandName"}}

            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>

            <p style="text-align:center;">
                <span style="font-size: larger; font-weight: bold; color: #334368">
                    {{#ifin noticeType '["TRIAL_DAYS_REMAINING_FIRST", "TRIAL_DAYS_REMAINING_SECOND"]'}}
                        Your {{{$Brand_DisplayName}}} {{{$Tier_Name}}} trial ends in {{{number}}} days!
                    {{/ifin}}
                    {{#ifin noticeType '["TRIAL_MINUTES_REMAINING_FIRST", "TRIAL_MINUTES_REMAINING_SECOND"]'}}
                        Your {{{$Brand_DisplayName}}} {{{$Tier_Name}}} has {{{number}}} trial minutes remaining!
                    {{/ifin}}
                    {{#if (eq noticeType 'TRIAL_ENDED')}}
                        Your {{{$Brand_DisplayName}}} {{{$Tier_Name}}} trial has ended!
                    {{/if}}
                </span>
            </p>

            <p>
                Dear {{{$Extension_FullName}}},
            </p>

            {{#if (eq noticeType 'TRIAL_DAYS_REMAINING_FIRST')}}
                {{partial "trialExpirationDaysRemainingFirst"}}
            {{/if}}
            {{#if (eq noticeType 'TRIAL_MINUTES_REMAINING_FIRST')}}
                {{partial "trialExpirationMinutesRemainingFirst"}}
            {{/if}}
            {{#if (eq noticeType 'TRIAL_DAYS_REMAINING_SECOND')}}
                {{partial "trialExpirationDaysRemainingSecond"}}
            {{/if}}
            {{#if (eq noticeType 'TRIAL_MINUTES_REMAINING_SECOND')}}
                {{partial "trialExpirationMinutesRemainingSecond"}}
            {{/if}}
            {{#if (eq noticeType 'TRIAL_ENDED')}}
                {{partial "trialExpirationEnded"}}
            {{/if}}

            {{#unless (eq noticeType 'TRIAL_ENDED')}}
                <p>
                    <strong>Need help?</strong>
                </p>
                <p>
                    For detailed instructions on using your new {{{$Brand_DisplayName}}} {{{$Tier_Name}}} service or
                    general help getting started, please visit our <a href="{{{$Brand_HelpUrl}}}"
                                                                      title="Support Center">Support Center</a>.
                </p>
                <p>
                    If you need further assistance, please contact our customer service department:
                </p>
                <p>
                    CA: {{{$Brand_LocalSupportPhoneNumber}}}<br/>
                    International: {{{$Brand_InternationalSupportPhoneNumber}}}<br/>
                    Email: {{{$Brand_ServiceEmailAddress}}}
                </p>
            {{/unless}}

            <p>
                Thank you for using {{{$Brand_DisplayName}}}.
            </p>

            <hr style="background-color: #e2e2e2; color: #e2e2e2; border-top: 1px solid #e2e2e2 !important; border-width: 1px 0 0 0;"/>

            {{partial "footerTosLegalAndCopyright"}}

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>